<?php

// set to defaults if undefined (CAS)
if (!isset ($config->cosign_service)) {
    $config->cosign_service = '';
}
if (!isset ($config->cosign_logout_url)) {
    $config->cosign_logout_url = '';
}

// set to defaults if undefined (LDAP)
if (!isset($config->host_url)) {
     $config->host_url = '';
}
if (empty($config->ldapencoding)) {
    $config->ldapencoding = 'utf-8';
}
if (!isset($config->contexts)) {
    $config->contexts = '';
}
if (!isset($config->user_type)) {
    $config->user_type = 'default';
}
if (!isset($config->user_attribute)) {
    $config->user_attribute = '';
}
if (!isset($config->search_sub)) {
    $config->search_sub = '';
}
if (!isset($config->opt_deref)) {
    $config->opt_deref = LDAP_DEREF_NEVER;
}
if (!isset($config->bind_dn)) {
    $config->bind_dn = '';
}
if (!isset($config->bind_pw)) {
    $config->bind_pw = '';
}
if (!isset($config->ldap_version)) {
    $config->ldap_version = '3';
}
if (!isset($config->objectclass)) {
    $config->objectclass = '';
}
if (!isset($config->memberattribute)) {
    $config->memberattribute = '';
}
if (!isset($config->memberattribute_isdn)) {
    $config->memberattribute_isdn = '';
}
if (!isset($config->groupecreators)) {
    $config->groupecreators = '';
}
if (!isset($config->attrcreators)) {
    $config->attrcreators = '';
}
if (!isset($config->removeuser)) {
    $config->removeuser = AUTH_REMOVEUSER_KEEP;
}

$yesno = array( get_string('no'), get_string('yes') );

?>
<table cellspacing="0" cellpadding="5" border="0">
<tr>
    <td colspan="2">
        <h4><?php print_string('auth_ease_server_settings', 'auth_ease') ?></h4>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right"><?php print_string('auth_ease_cosign_service_key', 'auth_ease') ?>:</td>
    <td>
        <input name="cosign_service" type="text" size="30" value="<?php echo $config->cosign_service ?>" />
        <?php if (isset($err['cosign_service'])) { echo $OUTPUT->error_text($err['cosign_service']); } ?>
    </td>
    <td>
        <?php print_string('auth_ease_cosign_service', 'auth_ease') ?>
    </td>
</tr>
<tr>
   <td colspan="2">
        <h4><?php print_string('auth_ldap_server_settings', 'auth_ldap') ?></h4>
   </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="host_url"><?php print_string('auth_ldap_host_url_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="host_url" id="host_url" type="text" size="30" value="<?php echo $config->host_url?>" />
        <?php if (isset($err['host_url'])) { echo $OUTPUT->error_text($err['host_url']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_host_url', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right"><label for="menuversion"><?php print_string('auth_ldap_version_key', 'auth_ldap') ?></label></td>
    <td>
        <?php
             $versions = array();
             $versions[2] = '2';
             $versions[3] = '3';
             echo html_writer::select($versions, 'ldap_version', $config->ldap_version, false);
             if (isset($err['ldap_version'])) { echo $OUTPUT->error_text($err['ldap_version']); }
        ?>
    </td>
    <td>
        <?php print_string('auth_ldap_version', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="ldapencoding"><?php print_string('auth_ldap_ldap_encoding_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input id="ldapencoding" name="ldapencoding" type="text" value="<?php echo $config->ldapencoding ?>" />
        <?php if (isset($err['ldapencoding'])) { echo $OUTPUT->error_text($err['ldapencoding']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_ldap_encoding', 'auth_ldap') ?>
    </td>
</tr>
<tr>
    <td colspan="2">
        <h4><?php print_string('auth_ldap_bind_settings', 'auth_ldap') ?></h4>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="bind_dn"><?php print_string('auth_ldap_bind_dn_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="bind_dn" id="bind_dn" type="text" size="30" value="<?php echo $config->bind_dn?>" />
        <?php if (isset($err['bind_dn'])) { echo $OUTPUT->error_text($err['bind_dn']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_bind_dn', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="bind_pw"><?php print_string('auth_ldap_bind_pw_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="bind_pw" id="bind_pw" type="password" size="30" value="<?php echo $config->bind_pw?>" />
        <?php if (isset($err['bind_pw'])) { echo $OUTPUT->error_text($err['bind_pw']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_bind_pw', 'auth_ldap') ?>
    </td>
</tr>
<tr>
    <td colspan="2">
        <h4><?php print_string('auth_ldap_user_settings', 'auth_ldap') ?></h4>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="menuuser_type"><?php print_string('auth_ldap_user_type_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <?php
            echo html_writer::select(ldap_supported_usertypes(), 'user_type', $config->user_type, false);
            if (isset($err['user_type'])) { echo $OUTPUT->error_text($err['user_type']); }
        ?>
    </td>
    <td>
        <?php print_string('auth_ldap_user_type', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="contexts"><?php print_string('auth_ldap_contexts_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="contexts" id="contexts" type="text" size="30" value="<?php echo $config->contexts?>" />
        <?php if (isset($err['contexts'])) { echo $OUTPUT->error_text($err['contexts']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_contexts', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="menusearch_sub"><?php print_string('auth_ldap_search_sub_key', 'auth_ldap') ?></label></td>
    <td>
        <?php echo html_writer::select($yesno, 'search_sub', $config->search_sub, false); ?>
    </td>
    <td>
        <?php print_string('auth_ldap_search_sub', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right"><label for="menuopt_deref"><?php print_string('auth_ldap_opt_deref_key', 'auth_ldap') ?></label></td>
    <td>
        <?php
             $opt_deref = array();
             $opt_deref[LDAP_DEREF_NEVER] = get_string('no');
             $opt_deref[LDAP_DEREF_ALWAYS] = get_string('yes');
             echo html_writer::select($opt_deref, 'opt_deref', $config->opt_deref, false);
             if (isset($err['opt_deref'])) { echo $OUTPUT->error_text($err['opt_deref']); }
        ?>
    </td>
    <td>
        <?php print_string('auth_ldap_opt_deref', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="user_attribute"><?php print_string('auth_ldap_user_attribute_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="user_attribute" id="user_attribute" type="text" size="30" value="<?php echo $config->user_attribute?>" />
        <?php if (isset($err['user_attribute'])) { echo $OUTPUT->error_text($err['user_attribute']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_user_attribute', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="memberattribute"><?php print_string('auth_ldap_memberattribute_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="memberattribute" id="memberattribute" type="text" size="30" value="<?php echo $config->memberattribute?>" />
        <?php if (isset($err['memberattribute'])) { echo $OUTPUT->error_text($err['memberattribute']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_memberattribute', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="memberattribute_isdn"><?php print_string('auth_ldap_memberattribute_isdn_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="memberattribute_isdn" id="memberattribute_isdn" type="text" size="30" value="<?php echo $config->memberattribute_isdn?>" />
        <?php if (isset($err['memberattribute_isdn'])) { echo $OUTPUT->error_text($err['memberattribute_isdn']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_memberattribute_isdn', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="objectclass"><?php print_string('auth_ldap_objectclass_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="objectclass" id="objectclass" type="text" size="30" value="<?php echo $config->objectclass?>" />
        <?php if (isset($err['objectclass'])) { echo $OUTPUT->error_text($err['objectclass']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_objectclass', 'auth_ldap') ?>
    </td>
</tr>
<tr>
    <td colspan="2">
        <h4><?php print_string('coursecreators') ?></h4>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="attrcreators"><?php print_string('auth_ldap_attrcreators_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="attrcreators" id="attrcreators" type="text" size="30" value="<?php echo $config->attrcreators?>" />
        <?php if (isset($err['attrcreators'])) { echo $OUTPUT->error_text($err['attrcreators']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_attrcreators', 'auth_ldap') ?>
    </td>
</tr>
<tr valign="top" class="required">
    <td align="right">
        <label for="groupecreators"><?php print_string('auth_ldap_groupecreators_key', 'auth_ldap') ?></label>
    </td>
    <td>
        <input name="groupecreators" id="groupecreators" type="text" size="30" value="<?php echo $config->groupecreators?>" />
        <?php if (isset($err['groupecreators'])) { echo $OUTPUT->error_text($err['groupecreators']); } ?>
    </td>
    <td>
        <?php print_string('auth_ldap_groupecreators', 'auth_ldap') ?>
    </td>
</tr>
<tr>
    <td colspan="2">
        <h4><?php print_string('auth_sync_script', 'auth') ?></h4>
    </td>
</tr>
<tr valign="top">
    <td align="right">
        <label for="menuremoveuser"><?php print_string('auth_remove_user_key', 'auth') ?></label>
    </td>
    <td>
        <?php
             $deleteopt = array();
             $deleteopt[AUTH_REMOVEUSER_KEEP] = get_string('auth_remove_keep', 'auth');
             $deleteopt[AUTH_REMOVEUSER_SUSPEND] = get_string('auth_remove_suspend', 'auth');
             $deleteopt[AUTH_REMOVEUSER_FULLDELETE] = get_string('auth_remove_delete', 'auth');
             echo html_writer::select($deleteopt, 'removeuser', $config->removeuser, false);
        ?>
    </td>
    <td>
        <?php print_string('auth_remove_user', 'auth') ?>
    </td>
</tr>
<?php
$help  = get_string('auth_ldapextrafields', 'auth_ldap');
$help .= get_string('auth_updatelocal_expl', 'auth');
$help .= get_string('auth_fieldlock_expl', 'auth');
$help .= get_string('auth_updateremote_expl', 'auth');
$help .= '<hr />';
$help .= get_string('auth_updateremote_ldap', 'auth');

print_auth_lock_options($this->authtype, $user_fields, $help, true, true);
?>
</table>
